## NoSQL DBs (Not Only Structured Query Language)
NoSQL DBs are flexible DBs, unlike SQL DBs which are tabular in nature. Since SQL is tabular in Nature it can have null values present in the columns where fields are empty that create irregularity. In such cases, we can go for NoSQL DBs like MongoDB Because in NoSQL DBs like MongoDB we put data in a JSON Object. 

NoSQL is preferable when you want flexibility like in startups where things may change in the future with respect to the opportunities they get as here itâ€™s not bound to a particular structure. But for well-established companies where operations are fixed they can go for SQL DBs in general.

See the following difference between two most popular SQL and NoSQL Dbs-

|MySQL|MongoDB|
|:-:|:-:|
|Matured or stable|Its new and updated frequently|
|It follows tabular structure|It follows document structure like JSON format|
|It needs a proper schema| Its flexible in nature|
|Managing complex relations among different tables is easy|Its not that great in complex managing relationship|
|Its scales vertically| Horizontaly scalable|

---

### 19.3.1.1 Working with MongoDB

MongoDB is a document-based, general-purpose, distributed database with scalability and flexibility. And most of the features are free to use.



### 19.3.1.2 Features of MongoDB

**i. Rich JSON Documents-**

* The most natural and productive way to work with data.
* Supports arrays and nested objects as values.
* Allows for flexible and dynamic schemas.
* The document model maps to the objects in your application code, making data easy to work with.

```JSON
{
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}
```

**ii. Powerful query language-**
* Rich and expressive query language that allows you to filter and sort by any field, no matter how nested it may be within a document.
* Support for aggregations and other modern use-cases such as geo-based search,  graph search, and text search.
* Queries are themselves JSON, and thus easily composable. No more concatenating strings to dynamically generate SQL queries.
```
> db.collection.find( { qty: { $gt: 4 } } )
```
OUTPUT:
```JSON
{ "_id": "apples", "qty": 5 }
{ "_id": "bananas", "qty": 7 }
```


### 19.3.1.3 All the power of a relational database, and more...

* Full ACID(Atomicity, Consistency, Isolation, Durability) transactions.
* Support for joins in queries.
* Two types of relationships instead of one: reference and embedded.

### 19.3.1.4 Charts

* The fastest way to create visualizations of MongoDB data.
* Built for the document model.
* Visualize live data from any of your MongoDB instances. Available on MongoDB Atlas.

### 19.3.1.5 BI Connector
* Allow any BI tool that can speak the MySQL protocol to work with your MongoDB data.
* Leverage the BI tools your organization already uses.
* Perform federated analytics, combining data from MongoDB and other databases.


### 19.3.1.6 Compass

---

## 19.3.2 Installing MongoDB (Community Edition) [[Official Documents](https://docs.mongodb.com/manual/administration/install-community/)]

### 19.3.2.1 For Windows

STEP 1: Download the installer file from download center from [here](https://www.mongodb.com/try/download/community?tck=docs_server)
> ![mongoDB Community Server](mongo_img/mDBCommServer.JPG)
1. Select the Version
2. Choose platform as windows
3. Select package as msi
4. Click on download


---


STEP 2: Run the installer that you have downloaded

1. Double click on the installer for mongoDB (which has .msi extension) from the location where you have downloaded the file

> ![installer1](mongo_img/msi1.JPG)

---


STEP 3: Follow along the installation wizard

1. Choose the setup type Complete or Custom (for advance users). The Complete setup option will choose the default location in your PC to install unlike Custom installation which allows you to choose the other location to install.

> ![installer3](mongo_img/msi3.JPG)


2. Select intall MongoDB as a Service.

> ![installer4](mongo_img/msi4.JPG)


3. Select Run the service as Network Service user (Default)




4. Service Name. Specify the service name. Default name is MongoDB. If you already have a service with the specified name, you must choose another name.


5. Data Directory. Specify the data directory, which corresponds to the --dbpath. If the directory does not exist, the installer will create the directory and sets the directory access to the service user.


6. Log Directory. Specify the Log directory, which corresponds to the --logpath. If the directory does not exist, the installer will create the directory and sets the directory access to the service user.

---


STEP 4: Install [MongoDB compass](https://www.mongodb.com/products/compass) (Optional)

> ![installer5](mongo_img/msi5.JPG)

MongoDB compass is a UI tool for mongoDB. Once Compass is installed you'll see following screens - 

> ![installed1](mongo_img/installed1.JPG)

> ![installed1](mongo_img/compass1.JPG)

### 19.3.2.2 For Ubuntu 
Refer Official Docs - [here](https://docs.mongodb.com/manual/tutorial/install-mongodb-on-ubuntu/)

### 19.3.2.3 For Mac
Refer Official Docs - [here](https://docs.mongodb.com/manual/tutorial/install-mongodb-on-os-x/)

## 19.3.3 Pymongo

use the following command in your anaconda prompt to install pymongo

``` JSON
python -m pip install pymongo
```

Or you can directly run below cell to install pymongo in current environment-

In [1]:
!python -m pip install pymongo

Requirement already satisfied: pymongo in c:\users\hp\anaconda3\lib\site-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\hp\anaconda3\lib\site-packages (from pymongo) (2.2.1)

### FOR connection local if install MongoCompass locally
```JSON
import pymongo
client = pymongo.MongoClient("mongodb://localhost:27017/")
client
```

### STEP 1: Create a DB

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://t20071:t20071@clustor0.rqhqqwa.mongodb.net/?retryWrites=true&w=majority")
db = client.test 
print(db)

Database(MongoClient(host=['ac-paodbyl-shard-00-02.rqhqqwa.mongodb.net:27017', 'ac-paodbyl-shard-00-00.rqhqqwa.mongodb.net:27017', 'ac-paodbyl-shard-00-01.rqhqqwa.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-g3ag2g-shard-0', tls=True), 'test')

### STEP 2: Create a collection

In [4]:
db1 = client['ineuron'] # creating databases,db1 called object
coll1 = db1['ineuron collection']  # creating collection

In [5]:
client.list_database_names()

['SHARAD', 'admin', 'local']

In [16]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkDatabaseAndCollection(db_name,coll_name):
    
    """It verifies the existence of collection name in a database"""
    coll_list = client.list_database_names()
    
    if coll_name in coll_list:
        print(f'collection:{coll_name} in databases:{db_name} exists')
        return True
    else:
        print(f'collection:{coll_name} is not in databases:{db_name} exists')
        return False
checkDatabaseAndCollection('SHARAD','ineuroncollection')

# check this code might be wrong one

collection:ineuroncollection is not in databases:SHARAD exists

False

### STEP 3: Insert a record in the collection

In [17]:
record = {'companyName': 'iNeuron',
         'product': 'Affordable AI',
         'courseOffered': 'Deep Learning for Computer Vision',
         'name' : ["sudhan","kumar",5466],
         "record_dict" :{"name" :"sudhanshu" , "mail_id" : "sudhanshu@fadfsaf.ai","ph_number" :543535}}

coll1.insert_one(record)

In [18]:
record = {'companyName': 'iNeuron',
         'product': 'Affordable AI',
         'courseOffered': 'Deep Learning for Computer Vision',
         'name' : ["sudhan","kumar",5466],
         "record_dict" :{"name" :"sudhanshu" , "mail_id" : "sudhanshu@fadfsaf.ai","ph_number" :543535}}

coll1.insert_one(record)

### STEP 4: Insert multiple records

In [22]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program',
    "test" : "ffsdfsffsf",
     "complex" : [{"name" : "sudhanshu","list" : [554,545,454,54,5,4]},{"email_id" :"sudhanshu@dffsf"},{"phone_no":345345345353},[4,54,534,5,45,5,45,4]]

    }]
recc = coll1.insert_many(list_of_records)

In [23]:
coll1.find_one()

{'_id': ObjectId('6378b974e55ae62fa0149a7c'),
 'companyName': 'iNeuron',
 'product': 'Affordable AI',
 'courseOffered': 'Deep Learning for Computer Vision',
 'name': ['sudhan', 'kumar', 5466],
 'record_dict': {'name': 'sudhanshu',
  'mail_id': 'sudhanshu@fadfsaf.ai',
  'ph_number': 543535}}

In [24]:
# lets print he unique ID that of the record that we have inserted -
inserted_Ids = recc.inserted_ids

for idx, unique_ids in enumerate(inserted_Ids):
    print(idx,unique_ids)

0 6378ba89e55ae62fa0149a81
1 6378ba89e55ae62fa0149a82
2 6378ba89e55ae62fa0149a83

### STEP 5: Find method in MongoDB

In [26]:
for i in coll1.find().limit(5):
    print(i,'\n')

{'_id': ObjectId('6378b974e55ae62fa0149a7c'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'name': ['sudhan', 'kumar', 5466], 'record_dict': {'name': 'sudhanshu', 'mail_id': 'sudhanshu@fadfsaf.ai', 'ph_number': 543535}}

{'_id': ObjectId('6378b988e55ae62fa0149a7d'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'name': ['sudhan', 'kumar', 5466], 'record_dict': {'name': 'sudhanshu', 'mail_id': 'sudhanshu@fadfsaf.ai', 'ph_number': 543535}}

{'_id': ObjectId('6378ba46e55ae62fa0149a7e'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}

{'_id': ObjectId('6378ba46e55ae62fa0149a7f'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

{'_id': ObjectId('6378ba46e55ae62fa0149a80'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program', 'test': 'ffsdfsffsf', 'complex': [{'name': 'sudhanshu', 'list': [554, 545, 454, 54, 5, 4]}, {'email_id': 'sudhanshu@dffsf'}, {'phone_no': 345345345353}, [4, 54, 534, 5, 45, 5, 45, 4]]}

In [27]:
coll1.find_one()

{'_id': ObjectId('6378b974e55ae62fa0149a7c'),
 'companyName': 'iNeuron',
 'product': 'Affordable AI',
 'courseOffered': 'Deep Learning for Computer Vision',
 'name': ['sudhan', 'kumar', 5466],
 'record_dict': {'name': 'sudhanshu',
  'mail_id': 'sudhanshu@fadfsaf.ai',
  'ph_number': 543535}}

In [30]:
# find all the record at once present in the record with all the fields
var = coll1.find()
for ids,record in enumerate(var):
    print(ids,'\t',record,'\n')

0 	 {'_id': ObjectId('6378b974e55ae62fa0149a7c'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'name': ['sudhan', 'kumar', 5466], 'record_dict': {'name': 'sudhanshu', 'mail_id': 'sudhanshu@fadfsaf.ai', 'ph_number': 543535}}

1 	 {'_id': ObjectId('6378b988e55ae62fa0149a7d'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for Computer Vision', 'name': ['sudhan', 'kumar', 5466], 'record_dict': {'name': 'sudhanshu', 'mail_id': 'sudhanshu@fadfsaf.ai', 'ph_number': 543535}}

2 	 {'_id': ObjectId('6378ba46e55ae62fa0149a7e'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}

3 	 {'_id': ObjectId('6378ba46e55ae62fa0149a7f'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

4 	 {'_id': ObjectId('6378ba46e55ae62fa0149a80'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program', 'test': 'ffsdfsffsf', 'complex': [{'name': 'sudhanshu', 'list': [554, 545, 454, 54, 5, 4]}, {'email_id': 'sudhanshu@dffsf'}, {'phone_no': 345345345353}, [4, 54, 534, 5, 45, 5, 45, 4]]}

5 	 {'_id': ObjectId('6378ba89e55ae62fa0149a81'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}

6 	 {'_id': ObjectId('6378ba89e55ae62fa0149a82'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

7 	 {'_id': ObjectId('6378ba89e55ae62fa0149a83'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program', 'test': 'ffsdfsffsf', 'complex': [{'name': 'sudhanshu', 'list': [554, 545, 454, 54, 5, 4]}, {'email_id': 'sudhanshu@dffsf'}, {'phone_no': 345345345353}, [4, 54, 534, 5, 45, 5, 45, 4]]}

### STEP 6: Query or filter out data in MongoDB

In [34]:
for i in coll1.find({'courseOffered': 'Machine Learning with Deployment'}):
    print(i,'\n')

{'_id': ObjectId('6378ba46e55ae62fa0149a7e'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}

{'_id': ObjectId('6378ba89e55ae62fa0149a81'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}

In [36]:
for i in coll1.find({'_id':{'$gte': 2}}):
    print(i,'\n')

In [37]:
q = {'_id':{'$gt': 1}}
result = coll1.find(q)
for i in result:
    print(i)

### STEP 7: Delete one or many documents in MongoDB

In [38]:
# Lets add some random data in faculties
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

coll1.insert_many(random_data)

In [40]:
q = {'_id':{'$gt': '1'}}
result = coll1.find(q)
for i in result:
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [43]:
for i in coll1.find({'_id': '3'}):
    print(i,'\n')

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}

In [44]:
GoingTodelete = {'Faculty':'XYZ'}
coll1.delete_one(GoingTodelete)

In [46]:
for i in coll1.find({"_id": {"$gte": "3"}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [47]:
# lets delete multiple record
multi_query_to_delete  = {'_id':{'$gte':'3'}}
coll1.delete_many(multi_query_to_delete)

In [48]:
for i in coll1.find({"_id": {"$gte": "3"}}):
    print(i)

No output thus collection have been deleted.

### STEP 8: Drop the entire collection

In [49]:
coll1.drop()

No record regarding coll1 in mongocloud db

### STEP 9: Update

In [50]:
for i in coll1.find():
    print(i)

##### Need to create DB and collection

In [52]:
db = client['DATABASE']
coll2 = db['COLLECTION']

In [53]:

list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program',
    "test" : "ffsdfsffsf",
     "complex" : [{"name" : "sudhanshu","list" : [554,545,454,54,5,4]},{"email_id" :"sudhanshu@dffsf"},{"phone_no":345345345353},[4,54,534,5,45,5,45,4]]

    }]

coll2.insert_many(list_of_records)

In [56]:
for i in coll2.find():
    print(i,'\n')

{'_id': ObjectId('6378c0e9e55ae62fa0149a84'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}

{'_id': ObjectId('6378c0e9e55ae62fa0149a85'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}

{'_id': ObjectId('6378c0e9e55ae62fa0149a86'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program', 'test': 'ffsdfsffsf', 'complex': [{'name': 'sudhanshu', 'list': [554, 545, 454, 54, 5, 4]}, {'email_id': 'sudhanshu@dffsf'}, {'phone_no': 345345345353}, [4, 54, 534, 5, 45, 5, 45, 4]]}

In [57]:
original = {"test" : "ffsdfsffsf"}
update_to = {'$set':{"test" : "FSDS"}}
coll2.update_many(original,update_to)

In [59]:
for i in coll2.find({"test" : "FSDS"}):
    print(i,'\n')

{'_id': ObjectId('6378c0e9e55ae62fa0149a86'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program', 'test': 'FSDS', 'complex': [{'name': 'sudhanshu', 'list': [554, 545, 454, 54, 5, 4]}, {'email_id': 'sudhanshu@dffsf'}, {'phone_no': 345345345353}, [4, 54, 534, 5, 45, 5, 45, 4]]}

### STEP 9: Set limit to view N records

In [60]:
for i in coll2.find().limit(2):
    print(i,'\n')

{'_id': ObjectId('6378c0e9e55ae62fa0149a84'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}

{'_id': ObjectId('6378c0e9e55ae62fa0149a85'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}