# SQL LITE
[Lecture link](https://www.youtube.com/watch?v=ys_qe_SuwOY)    
##### Saturday, 19 November 2022

In [1]:
# Mobile app
# everywhere need to store the data
# sql lite is in-memeory(RAM) database,ALSO IN HARD DISK
# In mobile devices, by defaul available SQL LITE
# .db FILE WILL BE CREATED
# local storage, not on server
# storage data in mobile
# WHEN store structure data in-memory then sql lite comes in picture

In [2]:
import sqlite3

In [3]:
db = sqlite3.connect('ineuron.db') # filename ='ineuron.db',it will store data in structure manner

In [4]:
ls

 Volume in drive C is Windows SSD
 Volume Serial Number is FCA4-BF44

 Directory of C:\Users\HP\1AI iNeuron

20-11-2022  11:03 AM    <DIR>          .
20-11-2022  11:03 AM    <DIR>          ..
20-11-2022  09:15 AM    <DIR>          .ipynb_checkpoints
19-11-2022  05:18 PM           100,055 019_Introduction_to_MongoDB_17 Nov 2022.ipynb
19-11-2022  10:36 PM            32,843 021_SQLLITE_19 Nov 2022.ipynb
18-11-2022  03:21 PM    <DIR>          2. Working with Databases & Python
19-11-2022  09:47 AM            11,443 Assignment_016.ipynb
20-11-2022  10:51 AM            11,408 Assignment_017.ipynb
20-11-2022  11:03 AM                 0 ineuron.db
19-11-2022  10:05 PM            12,288 joindb.db
19-11-2022  10:11 PM            12,824 joindb.db-journal
20-11-2022  09:32 AM                 0 untitled.txt
               8 File(s)        180,861 bytes
               4 Dir(s)  57,346,658,304 bytes free

In [5]:
c = db.cursor() # c is a cursor variable,called pointer

In [6]:
c.execute('create table FSDS(name text, batch int, marks real)')

In [7]:
ls

 Volume in drive C is Windows SSD
 Volume Serial Number is FCA4-BF44

 Directory of C:\Users\HP\1AI iNeuron

20-11-2022  11:03 AM    <DIR>          .
20-11-2022  11:03 AM    <DIR>          ..
20-11-2022  09:15 AM    <DIR>          .ipynb_checkpoints
19-11-2022  05:18 PM           100,055 019_Introduction_to_MongoDB_17 Nov 2022.ipynb
19-11-2022  10:36 PM            32,843 021_SQLLITE_19 Nov 2022.ipynb
18-11-2022  03:21 PM    <DIR>          2. Working with Databases & Python
19-11-2022  09:47 AM            11,443 Assignment_016.ipynb
20-11-2022  10:51 AM            11,408 Assignment_017.ipynb
20-11-2022  11:03 AM             8,192 ineuron.db
19-11-2022  10:05 PM            12,288 joindb.db
19-11-2022  10:11 PM            12,824 joindb.db-journal
20-11-2022  09:32 AM                 0 untitled.txt
               8 File(s)        189,053 bytes
               4 Dir(s)  57,346,637,824 bytes free

increase in size

In [8]:
c.execute('insert into FSDS values("sharad",2.0,450.5)')

In [9]:
ls

 Volume in drive C is Windows SSD
 Volume Serial Number is FCA4-BF44

 Directory of C:\Users\HP\1AI iNeuron

20-11-2022  11:03 AM    <DIR>          .
20-11-2022  11:03 AM    <DIR>          ..
20-11-2022  09:15 AM    <DIR>          .ipynb_checkpoints
19-11-2022  05:18 PM           100,055 019_Introduction_to_MongoDB_17 Nov 2022.ipynb
19-11-2022  10:36 PM            32,843 021_SQLLITE_19 Nov 2022.ipynb
18-11-2022  03:21 PM    <DIR>          2. Working with Databases & Python
19-11-2022  09:47 AM            11,443 Assignment_016.ipynb
20-11-2022  10:51 AM            11,408 Assignment_017.ipynb
20-11-2022  11:03 AM             8,192 ineuron.db
20-11-2022  11:03 AM                 0 ineuron.db-journal
19-11-2022  10:05 PM            12,288 joindb.db
19-11-2022  10:11 PM            12,824 joindb.db-journal
20-11-2022  09:32 AM                 0 untitled.txt
               9 File(s)        189,053 bytes
               4 Dir(s)  57,346,564,096 bytes free

create new datafile = ```ineuron.db-journal```

In [10]:
c.execute('insert into FSDS values("sharad",2.0,450.5)')
c.execute('insert into FSDS values("sharad",2.0,450.5)')
c.execute('insert into FSDS values("sharad",2.0,450.5)')
c.execute('insert into FSDS values("sharad",2.0,450.5)')
c.execute('insert into FSDS values("sharad",2.0,450.5)')
c.execute('insert into FSDS values("sharad",2.0,450.5)')

In [11]:
ls

 Volume in drive C is Windows SSD
 Volume Serial Number is FCA4-BF44

 Directory of C:\Users\HP\1AI iNeuron

20-11-2022  11:03 AM    <DIR>          .
20-11-2022  11:03 AM    <DIR>          ..
20-11-2022  09:15 AM    <DIR>          .ipynb_checkpoints
19-11-2022  05:18 PM           100,055 019_Introduction_to_MongoDB_17 Nov 2022.ipynb
19-11-2022  10:36 PM            32,843 021_SQLLITE_19 Nov 2022.ipynb
18-11-2022  03:21 PM    <DIR>          2. Working with Databases & Python
19-11-2022  09:47 AM            11,443 Assignment_016.ipynb
20-11-2022  10:51 AM            11,408 Assignment_017.ipynb
20-11-2022  11:03 AM             8,192 ineuron.db
20-11-2022  11:03 AM                 0 ineuron.db-journal
19-11-2022  10:05 PM            12,288 joindb.db
19-11-2022  10:11 PM            12,824 joindb.db-journal
20-11-2022  09:32 AM                 0 untitled.txt
               9 File(s)        189,053 bytes
               4 Dir(s)  57,346,564,096 bytes free

```ineuron.db``` size increases

In [12]:
DATA = c.execute('select * from FSDS')
for i in DATA:
    print(i)

('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)

In [13]:
db.commit() # for permanent storege

In [14]:
db.close() # it will close the data

In [15]:
DATA = c.execute('select * from FSDS')
for i in DATA:
    print(i)

ProgrammingError: Cannot operate on a closed database.

closed the db. so, error

In [16]:
ls

 Volume in drive C is Windows SSD
 Volume Serial Number is FCA4-BF44

 Directory of C:\Users\HP\1AI iNeuron

20-11-2022  11:03 AM    <DIR>          .
20-11-2022  11:03 AM    <DIR>          ..
20-11-2022  09:15 AM    <DIR>          .ipynb_checkpoints
19-11-2022  05:18 PM           100,055 019_Introduction_to_MongoDB_17 Nov 2022.ipynb
19-11-2022  10:36 PM            32,843 021_SQLLITE_19 Nov 2022.ipynb
18-11-2022  03:21 PM    <DIR>          2. Working with Databases & Python
19-11-2022  09:47 AM            11,443 Assignment_016.ipynb
20-11-2022  10:51 AM            11,408 Assignment_017.ipynb
20-11-2022  11:03 AM             8,192 ineuron.db
19-11-2022  10:05 PM            12,288 joindb.db
19-11-2022  10:11 PM            12,824 joindb.db-journal
20-11-2022  09:32 AM                 0 untitled.txt
               8 File(s)        189,053 bytes
               4 Dir(s)  57,335,377,920 bytes free

```ineuron.db-journal``` file gone. because we have closed.

In [17]:
# again connection established
db = sqlite3.connect('ineuron.db')

In [18]:
c = db.cursor()
DATA = c.execute('select * from FSDS')
for i in DATA:
    print(i)

('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)

In [19]:
q = 'select * from FSDS where marks > 450'
data = c.execute(q)
for i in data:
    print(i)

('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)

In [20]:
q = "select * from fsds where name = 'sharad'"
data1 = c.execute(q)
for i in data1:
    print(i)

('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)
('sharad', 2, 450.5)

In [21]:
q = "select name,marks from fsds"
data2 = c.execute(q)
for i in data2:
    print(i)

('sharad', 450.5)
('sharad', 450.5)
('sharad', 450.5)
('sharad', 450.5)
('sharad', 450.5)
('sharad', 450.5)
('sharad', 450.5)

In [22]:
q = "select name,marks from fsds order by marks DESC"
data2 = c.execute(q)
for i in data2:
    print(i)

('sharad', 450.5)
('sharad', 450.5)
('sharad', 450.5)
('sharad', 450.5)
('sharad', 450.5)
('sharad', 450.5)
('sharad', 450.5)

#### SAME COMMAND AS SQL

In [23]:
db.close()

## New file

In [24]:
db = sqlite3.connect('person.db')
c = db.cursor()

In [25]:
c.execute('create table person_table(name txt,mail_id txt, age int, salary real)')

In [26]:
c.execute("insert into person_table values('sharad','sharad@gmail.com',27, 3000000000)")

In [27]:
ls

 Volume in drive C is Windows SSD
 Volume Serial Number is FCA4-BF44

 Directory of C:\Users\HP\1AI iNeuron

20-11-2022  11:04 AM    <DIR>          .
20-11-2022  11:04 AM    <DIR>          ..
20-11-2022  09:15 AM    <DIR>          .ipynb_checkpoints
19-11-2022  05:18 PM           100,055 019_Introduction_to_MongoDB_17 Nov 2022.ipynb
19-11-2022  10:36 PM            32,843 021_SQLLITE_19 Nov 2022.ipynb
18-11-2022  03:21 PM    <DIR>          2. Working with Databases & Python
19-11-2022  09:47 AM            11,443 Assignment_016.ipynb
20-11-2022  10:51 AM            11,408 Assignment_017.ipynb
20-11-2022  11:03 AM             8,192 ineuron.db
19-11-2022  10:05 PM            12,288 joindb.db
19-11-2022  10:11 PM            12,824 joindb.db-journal
20-11-2022  11:04 AM             8,192 person.db
20-11-2022  11:04 AM                 0 person.db-journal
20-11-2022  09:32 AM                 0 untitled.txt
              10 File(s)        197,245 bytes
               4 Dir(s)  57,335,353,344 bytes free

In [28]:
c.execute("insert into person_table values('sudh','sudh@gmail.com',37, 2000000000)")
c.execute("insert into person_table values('krish','krish@gmail.com',32, 2500000000)")
c.execute("insert into person_table values('sunny','sunny@gmail.com',29, 2700000000)")

In [29]:
ls

 Volume in drive C is Windows SSD
 Volume Serial Number is FCA4-BF44

 Directory of C:\Users\HP\1AI iNeuron

20-11-2022  11:04 AM    <DIR>          .
20-11-2022  11:04 AM    <DIR>          ..
20-11-2022  09:15 AM    <DIR>          .ipynb_checkpoints
19-11-2022  05:18 PM           100,055 019_Introduction_to_MongoDB_17 Nov 2022.ipynb
19-11-2022  10:36 PM            32,843 021_SQLLITE_19 Nov 2022.ipynb
18-11-2022  03:21 PM    <DIR>          2. Working with Databases & Python
19-11-2022  09:47 AM            11,443 Assignment_016.ipynb
20-11-2022  10:51 AM            11,408 Assignment_017.ipynb
20-11-2022  11:03 AM             8,192 ineuron.db
19-11-2022  10:05 PM            12,288 joindb.db
19-11-2022  10:11 PM            12,824 joindb.db-journal
20-11-2022  11:04 AM             8,192 person.db
20-11-2022  11:04 AM                 0 person.db-journal
20-11-2022  09:32 AM                 0 untitled.txt
              10 File(s)        197,245 bytes
               4 Dir(s)  57,335,353,344 bytes free

In [30]:
q = 'select * from person_table'
data = c.execute(q)
for i in data:
    print(i)

('sharad', 'sharad@gmail.com', 27, 3000000000.0)
('sudh', 'sudh@gmail.com', 37, 2000000000.0)
('krish', 'krish@gmail.com', 32, 2500000000.0)
('sunny', 'sunny@gmail.com', 29, 2700000000.0)

In [31]:
db.commit()

In [32]:
db.close()

In [33]:
db = sqlite3.connect('ineuron.db')
c = db.cursor()

In [34]:
c.execute('drop table FSDS')

In [35]:
c.execute('select * from fsds')

OperationalError: no such table: fsds

In [36]:
ls

 Volume in drive C is Windows SSD
 Volume Serial Number is FCA4-BF44

 Directory of C:\Users\HP\1AI iNeuron

20-11-2022  11:04 AM    <DIR>          .
20-11-2022  11:04 AM    <DIR>          ..
20-11-2022  09:15 AM    <DIR>          .ipynb_checkpoints
19-11-2022  05:18 PM           100,055 019_Introduction_to_MongoDB_17 Nov 2022.ipynb
19-11-2022  10:36 PM            32,843 021_SQLLITE_19 Nov 2022.ipynb
18-11-2022  03:21 PM    <DIR>          2. Working with Databases & Python
19-11-2022  09:47 AM            11,443 Assignment_016.ipynb
20-11-2022  10:51 AM            11,408 Assignment_017.ipynb
20-11-2022  11:04 AM             8,192 ineuron.db
19-11-2022  10:05 PM            12,288 joindb.db
19-11-2022  10:11 PM            12,824 joindb.db-journal
20-11-2022  11:04 AM             8,192 person.db
20-11-2022  09:32 AM                 0 untitled.txt
               9 File(s)        197,245 bytes
               4 Dir(s)  57,335,324,672 bytes free

In [37]:
db.close()

In [38]:
db = sqlite3.connect('person.db')
c = db.cursor()

In [39]:
q = 'select * from person_table limit 2'
data = c.execute(q)
for i in data:
    print(i)

('sharad', 'sharad@gmail.com', 27, 3000000000.0)
('sudh', 'sudh@gmail.com', 37, 2000000000.0)

In [40]:
db.close()

In [41]:
# New database 
db = sqlite3.connect('joindb.db')
c = db.cursor()

In [45]:
c.execute('create table student(student_id int, student_name text, student_mail text, marks int)')

In [46]:
c.execute('create table address(student_id int, pincode int, location text, nerby text, phone_no int)')

In [47]:
c.execute("insert into student values(20071,'sharad','sharad@gmail.com',234)")
c.execute("insert into student values(20072,'sharad','sharad@gmail.com',234)")
c.execute("insert into student values(20073,'sharad','sharad@gmail.com',234)")
c.execute("insert into student values(20074,'sharad','sharad@gmail.com',234)")
c.execute("insert into student values(20075,'sharad','sharad@gmail.com',234)")
c.execute("insert into student values(20076,'sharad','sharad@gmail.com',234)")
c.execute("insert into student values(20077,'sharad','sharad@gmail.com',234)")
c.execute("insert into student values(20078,'sharad','sharad@gmail.com',234)")
c.execute("insert into student values(20081,'sharad','sharad@gmail.com',234)")
c.execute("insert into student values(20082,'sharad','sharad@gmail.com',234)")

In [48]:
c.execute("insert into address values(20071, 460001, 'Mandi','Bank',07141261211)")

In [49]:
c.execute("insert into address values(20072, 460001, 'Mandi','Bank',07141261211)")
c.execute("insert into address values(20073, 460001, 'Mandi','Bank',07141261211)")
c.execute("insert into address values(20074, 460001, 'Mandi','Bank',07141261211)")
c.execute("insert into address values(20075, 460001, 'Mandi','Bank',07141261211)")
c.execute("insert into address values(20076, 460001, 'Mandi','Bank',07141261211)")
c.execute("insert into address values(20077, 460001, 'Mandi','Bank',07141261211)")
c.execute("insert into address values(20078, 460001, 'Mandi','Bank',07141261211)")
c.execute("insert into address values(20079, 460001, 'Mandi','Bank',07141261211)")
c.execute("insert into address values(20080, 460001, 'Mandi','Bank',07141261211)")

In [50]:
for i in c.execute('select * from address'):
    print(i)

(20071, 460001, 'Mandi', 'Bank', 7141261211)
(20072, 460001, 'Mandi', 'Bank', 7141261211)
(20073, 460001, 'Mandi', 'Bank', 7141261211)
(20074, 460001, 'Mandi', 'Bank', 7141261211)
(20075, 460001, 'Mandi', 'Bank', 7141261211)
(20076, 460001, 'Mandi', 'Bank', 7141261211)
(20077, 460001, 'Mandi', 'Bank', 7141261211)
(20078, 460001, 'Mandi', 'Bank', 7141261211)
(20079, 460001, 'Mandi', 'Bank', 7141261211)
(20080, 460001, 'Mandi', 'Bank', 7141261211)

In [51]:
for i in c.execute('select * from student'):
    print(i)

(20071, 'sharad', 'sharad@gmail.com', 234)
(20072, 'sharad', 'sharad@gmail.com', 234)
(20073, 'sharad', 'sharad@gmail.com', 234)
(20074, 'sharad', 'sharad@gmail.com', 234)
(20075, 'sharad', 'sharad@gmail.com', 234)
(20076, 'sharad', 'sharad@gmail.com', 234)
(20077, 'sharad', 'sharad@gmail.com', 234)
(20078, 'sharad', 'sharad@gmail.com', 234)
(20081, 'sharad', 'sharad@gmail.com', 234)
(20082, 'sharad', 'sharad@gmail.com', 234)

In [52]:
q = "select * from student s left join address a on s.student_id=a.student_id"
data = c.execute(q)
for i in data:
    print(i)

(20071, 'sharad', 'sharad@gmail.com', 234, 20071, 460001, 'Mandi', 'Bank', 7141261211)
(20072, 'sharad', 'sharad@gmail.com', 234, 20072, 460001, 'Mandi', 'Bank', 7141261211)
(20073, 'sharad', 'sharad@gmail.com', 234, 20073, 460001, 'Mandi', 'Bank', 7141261211)
(20074, 'sharad', 'sharad@gmail.com', 234, 20074, 460001, 'Mandi', 'Bank', 7141261211)
(20075, 'sharad', 'sharad@gmail.com', 234, 20075, 460001, 'Mandi', 'Bank', 7141261211)
(20076, 'sharad', 'sharad@gmail.com', 234, 20076, 460001, 'Mandi', 'Bank', 7141261211)
(20077, 'sharad', 'sharad@gmail.com', 234, 20077, 460001, 'Mandi', 'Bank', 7141261211)
(20078, 'sharad', 'sharad@gmail.com', 234, 20078, 460001, 'Mandi', 'Bank', 7141261211)
(20081, 'sharad', 'sharad@gmail.com', 234, None, None, None, None, None)
(20082, 'sharad', 'sharad@gmail.com', 234, None, None, None, None, None)

In [53]:
q = "select * from student s left join address a on s.student_id=a.student_id where a.student_id is not null"
data = c.execute(q)
for i in data:
    print(i)

(20071, 'sharad', 'sharad@gmail.com', 234, 20071, 460001, 'Mandi', 'Bank', 7141261211)
(20072, 'sharad', 'sharad@gmail.com', 234, 20072, 460001, 'Mandi', 'Bank', 7141261211)
(20073, 'sharad', 'sharad@gmail.com', 234, 20073, 460001, 'Mandi', 'Bank', 7141261211)
(20074, 'sharad', 'sharad@gmail.com', 234, 20074, 460001, 'Mandi', 'Bank', 7141261211)
(20075, 'sharad', 'sharad@gmail.com', 234, 20075, 460001, 'Mandi', 'Bank', 7141261211)
(20076, 'sharad', 'sharad@gmail.com', 234, 20076, 460001, 'Mandi', 'Bank', 7141261211)
(20077, 'sharad', 'sharad@gmail.com', 234, 20077, 460001, 'Mandi', 'Bank', 7141261211)
(20078, 'sharad', 'sharad@gmail.com', 234, 20078, 460001, 'Mandi', 'Bank', 7141261211)

In [54]:
q = "select * from student s right join address a on s.student_id=a.student_id where a.student_id is not null"
data = c.execute(q)
for i in data:
    print(i)

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

No right in sqllite, interchage the table in left

In [55]:
q = "select * from address a left join student s on s.student_id=a.student_id where a.student_id is not null"
data = c.execute(q)
for i in data:
    print(i)

(20071, 460001, 'Mandi', 'Bank', 7141261211, 20071, 'sharad', 'sharad@gmail.com', 234)
(20072, 460001, 'Mandi', 'Bank', 7141261211, 20072, 'sharad', 'sharad@gmail.com', 234)
(20073, 460001, 'Mandi', 'Bank', 7141261211, 20073, 'sharad', 'sharad@gmail.com', 234)
(20074, 460001, 'Mandi', 'Bank', 7141261211, 20074, 'sharad', 'sharad@gmail.com', 234)
(20075, 460001, 'Mandi', 'Bank', 7141261211, 20075, 'sharad', 'sharad@gmail.com', 234)
(20076, 460001, 'Mandi', 'Bank', 7141261211, 20076, 'sharad', 'sharad@gmail.com', 234)
(20077, 460001, 'Mandi', 'Bank', 7141261211, 20077, 'sharad', 'sharad@gmail.com', 234)
(20078, 460001, 'Mandi', 'Bank', 7141261211, 20078, 'sharad', 'sharad@gmail.com', 234)
(20079, 460001, 'Mandi', 'Bank', 7141261211, None, None, None, None)
(20080, 460001, 'Mandi', 'Bank', 7141261211, None, None, None, None)

In [56]:
q = "select * from address a left join student s on s.student_id=a.student_id where s.student_id is not null"
data = c.execute(q)
for i in data:
    print(i)

(20071, 460001, 'Mandi', 'Bank', 7141261211, 20071, 'sharad', 'sharad@gmail.com', 234)
(20072, 460001, 'Mandi', 'Bank', 7141261211, 20072, 'sharad', 'sharad@gmail.com', 234)
(20073, 460001, 'Mandi', 'Bank', 7141261211, 20073, 'sharad', 'sharad@gmail.com', 234)
(20074, 460001, 'Mandi', 'Bank', 7141261211, 20074, 'sharad', 'sharad@gmail.com', 234)
(20075, 460001, 'Mandi', 'Bank', 7141261211, 20075, 'sharad', 'sharad@gmail.com', 234)
(20076, 460001, 'Mandi', 'Bank', 7141261211, 20076, 'sharad', 'sharad@gmail.com', 234)
(20077, 460001, 'Mandi', 'Bank', 7141261211, 20077, 'sharad', 'sharad@gmail.com', 234)
(20078, 460001, 'Mandi', 'Bank', 7141261211, 20078, 'sharad', 'sharad@gmail.com', 234)

In [57]:
for i in c.execute('select * from student'):
    print(i)

(20071, 'sharad', 'sharad@gmail.com', 234)
(20072, 'sharad', 'sharad@gmail.com', 234)
(20073, 'sharad', 'sharad@gmail.com', 234)
(20074, 'sharad', 'sharad@gmail.com', 234)
(20075, 'sharad', 'sharad@gmail.com', 234)
(20076, 'sharad', 'sharad@gmail.com', 234)
(20077, 'sharad', 'sharad@gmail.com', 234)
(20078, 'sharad', 'sharad@gmail.com', 234)
(20081, 'sharad', 'sharad@gmail.com', 234)
(20082, 'sharad', 'sharad@gmail.com', 234)

In [58]:
q = 'delete from student where student_id > 20076'
c.execute(q)

In [59]:
for i in c.execute('select * from student'):
    print(i)

(20071, 'sharad', 'sharad@gmail.com', 234)
(20072, 'sharad', 'sharad@gmail.com', 234)
(20073, 'sharad', 'sharad@gmail.com', 234)
(20074, 'sharad', 'sharad@gmail.com', 234)
(20075, 'sharad', 'sharad@gmail.com', 234)
(20076, 'sharad', 'sharad@gmail.com', 234)

In [60]:
data = c.execute('select * from student')
data.fetchall()
# list of tuple will be output

[(20071, 'sharad', 'sharad@gmail.com', 234),
 (20072, 'sharad', 'sharad@gmail.com', 234),
 (20073, 'sharad', 'sharad@gmail.com', 234),
 (20074, 'sharad', 'sharad@gmail.com', 234),
 (20075, 'sharad', 'sharad@gmail.com', 234),
 (20076, 'sharad', 'sharad@gmail.com', 234)]

In [62]:
q = 'update student set student_id = 2000 where student_id = 20071'
c.execute(q)

In [63]:
data = c.execute('select * from student')
data.fetchall() # list of tuple will be output

[(2000, 'sharad', 'sharad@gmail.com', 234),
 (20072, 'sharad', 'sharad@gmail.com', 234),
 (20073, 'sharad', 'sharad@gmail.com', 234),
 (20074, 'sharad', 'sharad@gmail.com', 234),
 (20075, 'sharad', 'sharad@gmail.com', 234),
 (20076, 'sharad', 'sharad@gmail.com', 234)]

In [65]:
db.close()

# map, reduce, and filter  function in python

In [66]:
l = [1,2,3,4,5]
l1 = []
for i in l:
    l1.append(i+5)
l1

[6, 7, 8, 9, 10]

In [67]:
l1 = [i+5 for i in l]
l1

[6, 7, 8, 9, 10]

In [69]:
l = [1,2,3,4,5]
l1 = []
for i in l:
    l1.append(i**2)
l1

[1, 4, 9, 16, 25]

In [89]:
map(lambda x:x+5,l)

In [72]:
list(map(lambda x:x+5,l))

[6, 7, 8, 9, 10]

In [73]:
def add_5(a):
    return a+5

In [74]:
list(map(add_5,l))

[6, 7, 8, 9, 10]

In [75]:
def operation(a):
    return a*10+71

In [76]:
list(map(operation,l))

[81, 91, 101, 111, 121]

In [77]:
l1 = ['234','342','2344']
list(map(lambda i:int(i),l1))

[234, 342, 2344]

In [79]:
def inti(a):
    return int(a)
list(map(inti,l1))

[234, 342, 2344]

# filter

In [83]:
l = [4,5,6,7,7,845,6,3,14,13,42,4563,653]
list(filter(lambda x:x%2==1,l)) # odd number filter

[5, 7, 7, 845, 3, 13, 4563, 653]

In [85]:
def odd_one(a):
    if a%2 == 1:
        return a

In [88]:
filter(odd_one,l)

In [86]:
list(filter(odd_one,l))

[5, 7, 7, 845, 3, 13, 4563, 653]

In [87]:
list(filter(lambda x:x%2==0,l)) # even

[4, 6, 6, 14, 42]

In [91]:
list(filter(lambda x:x*10,l)) 
# x*10 == True so return all

[4, 5, 6, 7, 7, 845, 6, 3, 14, 13, 42, 4563, 653]

# reduce

In [93]:
from functools import reduce

In [96]:
l = [1,2,3,4,5,6,7,8,43,2,3]
sum(l) # for sum

84

In [100]:
def fcn(a,b):
    return a+b
reduce(fcn,l)

In [102]:
def fcn(a,b):
    return a*b
reduce(fcn,l) # multi of all

10402560

In [103]:
def fcn(a,b):
    return a/b
reduce(fcn,l)

9.613018333948566e-08

In [104]:
def fcn(a,b):
    return a-b
reduce(fcn,l)

-82

In [105]:
def fcn(a,b,c):
    return a+b+c
reduce(fcn,l)

TypeError: fcn() missing 1 required positional argument: 'c'

In [106]:
l=[1]
def fcn(a,b):
    return a+b
reduce(fcn,l)

1

In [108]:
l = [1,2,3,4,5,6,7,8,43,2,3]
reduce(lambda i,j:i+j , l)

84

In [109]:
reduce(lambda i,j:i*j , l)

10402560

# zip()

In [110]:
l = [1,2,3,4,5,6,]
l1 = [7,8,9,10,11,12]
list(zip(l,l1))

[(1, 7), (2, 8), (3, 9), (4, 10), (5, 11), (6, 12)]

In [111]:
dict(zip(l,l1))

{1: 7, 2: 8, 3: 9, 4: 10, 5: 11, 6: 12}

In [112]:
l = [1,2,3,4,5,6,]
l1 = [7,8,9,10,11,12]
l2 = ['one','two','three','four','five','six']
list(zip(l,l2,l1))

[(1, 'one', 7),
 (2, 'two', 8),
 (3, 'three', 9),
 (4, 'four', 10),
 (5, 'five', 11),
 (6, 'six', 12)]

In [113]:
l = [1,2,3,4]
l1 = [7,8,9,10,11,12]
l2 = ['one','two','three','four','five','six']
list(zip(l,l2,l1))

[(1, 'one', 7), (2, 'two', 8), (3, 'three', 9), (4, 'four', 10)]

In [114]:
l = [1,2,3,4]
l1 = [7,8,9]
l2 = ['one','two','three','four','five','six']
list(zip(l,l2,l1))

[(1, 'one', 7), (2, 'two', 8), (3, 'three', 9)]

In [115]:
l = [1,2,3,4]
l1 = [7,8,9]
l2 = ['one','two']
list(zip(l,l2,l1))

[(1, 'one', 7), (2, 'two', 8)]

# Tasks 
[DOWNLOAD THE DATA FROM HERE IN TXT FORMAT](https://archive.ics.uci.edu/ml/datasets/Bag+of+Words)  BOTTOM 5 FILE FROM DATA FOLDER 
1. Try to find out a count of each and every word in a respective file. return a list of tuple with word and its respective count.     
sample eg [('sharad', 8)]
1. try to perform reduce operation to get count of all the word starting with same alphabet?    
sample eg [('a', 8),('b',10)]
1. Try to filter out all the data without puncuation.    
sample (292.-12.,sdfj = sdfj )
1. create a tuple set of all the records available in all the 5 file and then store it in sqlite DB.     
SAMPLE -  ('SDF',FS,34,42,3)   
Hint - use join