# Cassandra 
[lecture link](https://www.youtube.com/watch?v=FE-ft3m6d_o)    
**Sunday, 20 November 2022**

# Steps for local - No need to done local setup
1. [java installation](https://www.oracle.com/in/java/technologies/javase/javase8-archive-downloads.html)
1. [cassandra installation](https://www.apache.org/dyn/closer.lua/cassandra/3.11.14/apache-cassandra-3.11.14-bin.tar.gz)

# Cloud setup :
[go to link](https://astra.datastax.com/org/88c35d40-5aaf-4aea-b9ca-58b2595345f1/database/3e734e19-7371-4e9e-96c1-62da78743318/summary) 2:15:25 / 3:42:18

In [1]:
! pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra-driver-3.25.0.tar.gz (289 kB)
Requirement already satisfied: six>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from cassandra-driver) (1.16.0)
Collecting geomet<0.3,>=0.1
  Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: click in c:\users\hp\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.0.4)
Requirement already satisfied: colorama in c:\users\hp\anaconda3\lib\site-packages (from click->geomet<0.3,>=0.1->cassandra-driver) (0.4.4)
Building wheels for collected packages: cassandra-driver
  Building wheel for cassandra-driver (setup.py): started
  Building wheel for cassandra-driver (setup.py): finished with status 'done'
  Created wheel for cassandra-driver: filename=cassandra_driver-3.25.0-cp39-cp39-win_amd64.whl size=329419 sha256=0f70bb3ecb4681791d5742997cee67cd1479e095ac00eebc5aacab8ff134ae36
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\3d\bd\75\12875d7c70c5b18e8738c9e06f2d3f5b752fa372917c663fcc
Successfully built cassandra-driver
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.25.0 geomet-0.2.1.post1

In [1]:
import cassandra
print (cassandra.__version__)

3.25.0

# Creating a connection on cloud
Create a connect_database.py file in the main directory for your Python project:    
Copy the following connection code into the connect_database.py file:      
2:28:00 / 3:42:18

In [1]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
         'secure_connect_bundle': 'D:\secure-connect-test.zip'
}
auth_provider = PlainTextAuthProvider('cQMbupayaMKiLiqGfJfSPbyp', 'tl9emRqUI730dH,ctLlJv0HwuFYcOkuhw2t+GiwkUFDbifndZTdupGxL1RWguA,nw6._M9ierwLzme-3SrUEOgGu9.1o1ohhUjfM9Jzvd5BNnZbTi1DvnhcFIIdX7XM8')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
      print(row[0])
else:
      print("An error occurred.")

4.0.0.6816

Ensure you use your App Token's Client ID, Client Secret, and path/to/secure-connect-database_name.zip with the path to your SCB. You can download it by clicking on the Download Bundle button at the top of this page.

This code creates a Cluster instance to connect to your Astra DB, runs a CQL query, and prints the output to the console. As the name suggests, you will typically have one instance of Cluster for each Cassandra cluster you want to interact with.

# For offline connection 

```  JSON
from cassandra.clustor import Cluster 

cluster = Cluster()

session_offline = cluster.connect 

row = session.execute("select release_version from system.local").one()
if row:
      print(row[0])
else:
      print("An error occurred.")
```

### Creating a table emp1 in ineuron keyspace that we have created manually through UI

```ineuron``` keyspace is in ```test``` database that we have created during the setup.

In [2]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
         'secure_connect_bundle': 'D:\secure-connect-test.zip'
}
auth_provider = PlainTextAuthProvider('cQMbupayaMKiLiqGfJfSPbyp', 'tl9emRqUI730dH,ctLlJv0HwuFYcOkuhw2t+GiwkUFDbifndZTdupGxL1RWguA,nw6._M9ierwLzme-3SrUEOgGu9.1o1ohhUjfM9Jzvd5BNnZbTi1DvnhcFIIdX7XM8')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()
row=session.execute("CREATE TABLE ineuron.emp(emp_id int PRIMARY KEY,emp_name text,emp_city text,emp_salary varint,emp_phone varint);").one()
print(row)

None

```ineuron.emp``` table has been created

<img src="Capture.PNG" style = "width:600px;height:400px">

<img src="Capture2.PNG" style = "width:600px;height:400px">

90% command of cassandra is same as sql

In [3]:
q = "insert into ineuron.emp(emp_id,emp_city,emp_name,emp_phone,emp_salary) values(20071,'MANDI','SHARAD',4892375,23000000)"
row = session.execute(q)

In [4]:
q = "select * from ineuron.emp"
row = session.execute(q)
for i in row:
    print(i)

Row(emp_id=20071, emp_city='MANDI', emp_name='SHARAD', emp_phone=4892375, emp_salary=23000000)

# From the start 
``` JSON 
# create keyspace in database
row = session.execute("CREATE KEYSPACE home WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 4};")

#use keyspace
row=session.execute("use home;")

#dropping the keyspace
row=session.execute("DROP KEYSPACE home;")

# Creating table emp2 in keyspace ineuron
row=session.execute("CREATE TABLE ineuron.emp2(emp_id int PRIMARY KEY,emp_name text,emp_city text,emp_salary varint,emp_phone varint);").one()

```

In [5]:
# insert value in table emp
q = "insert into ineuron.emp(emp_id,emp_city,emp_name,emp_phone,emp_salary) values(20071,'MANDI','SHARAD',4892375,23000000)"
row = session.execute(q)
q = "insert into ineuron.emp(emp_id,emp_city,emp_name,emp_phone,emp_salary) values(20072,'MANDI','Nitin',4892375,23000000)"
row = session.execute(q)
q = "insert into ineuron.emp(emp_id,emp_city,emp_name,emp_phone,emp_salary) values(20073,'MANDI','Vinay',4892375,23000000)"
row = session.execute(q)
q = "insert into ineuron.emp(emp_id,emp_city,emp_name,emp_phone,emp_salary) values(20074,'MANDI','Mukesh',4892375,23000000)"
row = session.execute(q)
q = "insert into ineuron.emp(emp_id,emp_city,emp_name,emp_phone,emp_salary) values(20075,'MANDI','Anjani',4892375,23000000)"
row = session.execute(q)

In [6]:
# show all record
q = "select * from ineuron.emp"
row = session.execute(q)
for i in row:
    print(i)

Row(emp_id=20075, emp_city='MANDI', emp_name='Anjani', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20072, emp_city='MANDI', emp_name='Nitin', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20073, emp_city='MANDI', emp_name='Vinay', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20074, emp_city='MANDI', emp_name='Mukesh', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20071, emp_city='MANDI', emp_name='SHARAD', emp_phone=4892375, emp_salary=23000000)

In [7]:
#alter existing table (adding more columns to table)
row=session.execute("ALTER TABLE ineuron.emp ADD email varchar;")

In [8]:
q = "select * from ineuron.emp"
row = session.execute(q)
for i in row:
    print(i)

Row(emp_id=20075, email=None, emp_city='MANDI', emp_name='Anjani', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20072, email=None, emp_city='MANDI', emp_name='Nitin', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20073, email=None, emp_city='MANDI', emp_name='Vinay', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20074, email=None, emp_city='MANDI', emp_name='Mukesh', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20071, email=None, emp_city='MANDI', emp_name='SHARAD', emp_phone=4892375, emp_salary=23000000)

In [9]:
# updata the data 
q = "UPDATE ineuron.emp SET emp_name = 'BABA' WHERE emp_id = 20072;"
session.execute(q)

In [10]:
q = "select * from ineuron.emp"
row = session.execute(q)
for i in row:
    print(i)

Row(emp_id=20075, email=None, emp_city='MANDI', emp_name='Anjani', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20072, email=None, emp_city='MANDI', emp_name='BABA', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20073, email=None, emp_city='MANDI', emp_name='Vinay', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20074, email=None, emp_city='MANDI', emp_name='Mukesh', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20071, email=None, emp_city='MANDI', emp_name='SHARAD', emp_phone=4892375, emp_salary=23000000)

# allow filtering

In [11]:
q = "select * from ineuron.emp where emp_name = 'SHARAD' allow filtering"
row = session.execute(q)
for i in row:
    print(i)

Row(emp_id=20071, email=None, emp_city='MANDI', emp_name='SHARAD', emp_phone=4892375, emp_salary=23000000)

In [12]:
q = "select * from ineuron.emp where emp_id >= 20073 allow filtering"
row = session.execute(q)
for i in row:
    print(i)

Row(emp_id=20075, email=None, emp_city='MANDI', emp_name='Anjani', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20073, email=None, emp_city='MANDI', emp_name='Vinay', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20074, email=None, emp_city='MANDI', emp_name='Mukesh', emp_phone=4892375, emp_salary=23000000)

# delete

In [13]:
q = "delete from ineuron.emp where emp_id = 20072;"
session.execute(q)

In [14]:
q = "select * from ineuron.emp"
row = session.execute(q)
for i in row:
    print(i)

Row(emp_id=20075, email=None, emp_city='MANDI', emp_name='Anjani', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20073, email=None, emp_city='MANDI', emp_name='Vinay', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20074, email=None, emp_city='MANDI', emp_name='Mukesh', emp_phone=4892375, emp_salary=23000000)
Row(emp_id=20071, email=None, emp_city='MANDI', emp_name='SHARAD', emp_phone=4892375, emp_salary=23000000)

### Aggregation

In [15]:
row = session.execute("SELECT COUNT(*) FROM ineuron.emp;").one()
print(row)

Row(count=4)

In [16]:
row = session.execute("SELECT MAX(EMP_ID) FROM ineuron.emp;").one()
print(row)

Row(system_max_emp_id=20075)

# TRUNCATE

In [17]:
#truncating (removing all data from table)
row=session.execute("TRUNCATE ineuron.emp;")

In [18]:
q = "select * from ineuron.emp"
row = session.execute(q)
for i in row:
    print(i)
# in truncate data will be deleted but table won't

# Drop 
In drop table will entirely delete

In [19]:
session.execute("drop TABLE if exists ineuron.emp;")

In [20]:
q = "select * from ineuron.emp"
row = session.execute(q)
for i in row:
    print(i)

InvalidRequest: Error from server: code=2200 [Invalid query] message="table ineuron.emp does not exist"

# Insert data from a CSV file to Cassandra DB

In [36]:
# create new table car in keyspace ineuron
session.execute('create table ineuron.car(buying text PRIMARY KEY, maint text , doors text , persons text , lug_boot text , safety text , class text );').one()

In [39]:
import csv
with open("car.data",'r') as f:
    car_data=csv.reader(f,delimiter=',') # delimiter check all the time
    for i in car_data:
          session.execute(f'insert into ineuron.car(buying, maint, doors, persons, lug_boot, safety, class) values{tuple(i)}')

### METHOD 2
``` JSON
import csv
with open('car.data','r') as data:
    next(data)
    data_csv= csv.reader(data,delimiter=',')
    #csv reader object
    print(data_csv)
    all_value= []
    for i in data_csv:
        session.execute("insert into ineuron.car(buying, maint, doors, persons, lug_boot, safety, class) values(%s,%s,%s,%s,%s,%s,%s)",[i[0],i[1],i[2],i[3],i[4],i[5],i[6]])
print('Finished')
```

In [41]:
q = "select * from ineuron.car"
row = session.execute(q)
for i in row:
    print(i)

Row(buying='high', field_1_='acc', doors='5more', lug_boot='big', maint='low', persons='more', safety='high')
Row(buying='vhigh', field_1_='acc', doors='5more', lug_boot='big', maint='low', persons='more', safety='high')
Row(buying='med', field_1_='vgood', doors='5more', lug_boot='big', maint='low', persons='more', safety='high')
Row(buying='low', field_1_='vgood', doors='5more', lug_boot='big', maint='low', persons='more', safety='high')

In [42]:
q = "select COUNT(*) from ineuron.car"
row = session.execute(q)
for i in row:
    print(i)

Row(count=4)

In [44]:
session.execute("drop TABLE if exists ineuron.car;")