# Assignment_6
> **_Date 20 oct 2022_**

**1. What are escape characters, and how do you use them?**

**Answer-** 

Escape characters used to escape a single characterss or symbol in string. Backslash ```\``` is a escape character in python.

**Example**

In [1]:
print("My name is \'Sharad\' \n")  # \ is escaping the single quatation character.
print('My name is \"Sharad\"\n')
print("My name is \'Sharad\' and \nI live in INDIA.\n")  # \n is new line character.
print("My name is \'Sharad\' and \tI live in INDIA.\n")  # \t is tab character which give four spaces.

My name is 'Sharad'

My name is "Sharad"

My name is 'Sharad' and
I live in INDIA.

My name is 'Sharad' and 	I live in INDIA.

**2. What do the escape characters n and t stand for?**

**Answer-**

* \n..... New line character.
* \t..... Horizontal tab character.

In [2]:
print("My name is \'Sharad\' and \nI live in INDIA.\n")  # \n is new line character.
print("My name is \'Sharad\' and \tI live in INDIA.\n")  # \t is tab character which give four spaces.

My name is 'Sharad' and
I live in INDIA.

My name is 'Sharad' and 	I live in INDIA.

**3. What is the way to include backslash characters in a string?**

**Answer**
> Ways to include backslash characters in a string.

In [3]:
print("My name is \'Sharad\'\n")  # \ is escaping the single quatation character.
print('My name is \"Sharad\"\n')
print("My name is \'Sharad\' and \nI live in INDIA.\n")  # \n is new line character.
print("My name is \'Sharad\' and \tI live in INDIA.\n")  # \t is tab character which give four spaces.

My name is 'Sharad'

My name is "Sharad"

My name is 'Sharad' and
I live in INDIA.

My name is 'Sharad' and 	I live in INDIA.

**4. The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem?**

**Answer-**
Single quatation```''``` is not giving an error because we have used double quatation ```""``` at begining and at the start of the string.

In [4]:
print("Howl's Moving Castle")

Howl's Moving Castle

**5. How do you write a string of newlines if you don't want to use the n character?**

**Answer-**

Use multiline character

In [5]:
print('''My name is "Sharad"
and I live in INDIA''')

My name is "Sharad"
and I live in INDIA

**6. What are the values of the given expressions?**  
```'Hello, world!'[1]  
'Hello, world!'[0:5]  
'Hello, world!'[:5]  
'Hello, world!'[3:]```

**Answer-**

In [6]:
print('Hello, world!'[1])  
print('Hello, world!'[0:5])  
print('Hello, world!'[:5])  
print('Hello, world!'[3:])

e
Hello
Hello
lo, world!

**7. What are the values of the following expressions?**
```'Hello'.upper()
'Hello'.upper().isupper()
'Hello'.upper().lower()```

**Answer-**

In [7]:
print('Hello'.upper())
print('Hello'.upper().isupper())
print('Hello'.upper().lower())

HELLO
True
hello

**8. What are the values of the following expressions?**
```'Remember, remember, the fifth of July.'.split()
'-'.join('There can only one.'.split())```

**Answer-**

In [8]:
print('Remember, remember, the fifth of July.'.split(),'\n')
print('-'.join('There can only one.'.split()))

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

There-can-only-one.

**9. What are the methods for right-justifying, left-justifying, and centering a string?**

**Answer-**

In [9]:
Name = 'My name is \"Sharad"'
print('This is original string')
print(Name,"\n")
print('This is right justifying')
print(Name.rjust(40,'-'),"\n")
print('This is center align')
print(Name.center(40,'-'),"\n")
print('This is left justifying')
print(Name.ljust(40,'-'),"\n")

This is original string
My name is "Sharad"

This is right justifying
---------------------My name is "Sharad"

This is center align
----------My name is "Sharad"-----------

This is left justifying
My name is "Sharad"---------------------

**10. What is the best way to remove whitespace characters from the start or end?**

**Answer-**

```College.strip()
College.rstrip()
College.lstrip()```

In [10]:
College = '   India Institute Of Technology    '
College.strip()

'India Institute Of Technology'