# Programming Assignment_23
**Wednesday, 29 March 2023**

**Question 1            
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.**      

**Examples**              
>is_symmetrical(7227) ➞ True        
is_symmetrical(12567) ➞ False          
is_symmetrical(44444444) ➞ True           
is_symmetrical(9939) ➞ False              
is_symmetrical(1112111) ➞ True

In [1]:
# define the function
def is_symmetrical(i):
    '''Function that takes a number as an argument and returns True or False depending on 
    whether the number is symmetrical or not'''
    i = str(i)
    if i == i[::-1]:
        return True
    else:
        return False

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(9939)

False

**Question 2              
Given a string of numbers separated by a comma and space, return the product of the numbers.**

**Examples**                 
>multiply_nums("2, 3") ➞ 6          
multiply_nums("1, 2, 3, 4") ➞ 24            
multiply_nums("54, 75, 453, 0") ➞ 0              
multiply_nums("10, -2") ➞ -20

In [4]:
# define the function 
def multiply_nums(string):
    product = 1
    num_list = string.split(', ')
    for i in num_list:
        product = product*int(i)
    return product

In [5]:
multiply_nums("54, 75, 453, 0")

0

In [6]:
multiply_nums("1, 2, 3, 4")

24

In [7]:
multiply_nums("10, -2")

-20

**Question 3       
Create a function that squares every digit of a number.**

**Examples**        
>square_digits(9119) ➞ 811181      
square_digits(2483) ➞ 416649        
square_digits(3212) ➞ 9414

**Notes**            
> The function receives an integer and must return an integer.

In [8]:
# define the function
def square_digits(d):
    d_str = str(d)
    e_str = ''
    for i in d_str:
        e_str += str((int(i))**2)
    return int(e_str)

In [9]:
square_digits(9119)

811181

In [10]:
square_digits(2483)

416649

In [11]:
square_digits(3212)

9414

**Question 4         
Create a function that sorts a list and removes all duplicate items from it.**

**Examples**               
> setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]             
setify([4, 4, 4, 4]) ➞ [4]          
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]                
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [12]:
# define the function 
def setify(lst):
    return sorted(list(set(lst)))

In [13]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [14]:
setify([4, 4, 4, 4])

[4]

In [15]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

**Question 5                  
Create a function that returns the mean of all digits.**

**Examples**
> mean(42) ➞ 3         
mean(12345) ➞ 3            
mean(666) ➞ 6        

**Notes**                     
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).                        
•	The mean will always be an integer.

In [16]:
# define the function 
def mean(num):
    digits = [int(d) for d in str(num)]
    return sum(digits) // len(digits)

In [17]:
mean(42)

3

In [18]:
mean(12345)

3

In [19]:
mean(12345)

3