# Programming Assignment_20
**Sunday, 26 March 2023**

**Question 1       
Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.**
>**Examples**              
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]            
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"]) ➞ [0, 1729]            
filter_list(["Nothing", "here"]) ➞ []

In [3]:
# define the function 
def filter_list(lst):
    int_lst = []
    for i in lst:
        if type(i) == int:
            int_lst.append(i)
    return int_lst

filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [2]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [4]:
filter_list(["Nothing", "here"])

[]

**Question 2              
Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc.**
> **Examples**        
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]      
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]       
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [12]:
# define the function
def add_indexes(lst):
    add_lst = []
    for i in lst:
        add_lst.append( i + lst.index(i))
    return add_lst

#call the function
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [11]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

**Question 3       
Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.**
 
> **Examples**        
cone_volume(3, 2) ➞ 12.57     
cone_volume(15, 6) ➞ 565.49         
cone_volume(18, 0) ➞ 0

In [18]:
# define the function 
def cone_volume(height,radius):
    return (1/3)*(22/7)*(radius**2)*height

cone_volume(3, 2)

12.57142857142857

In [19]:
cone_volume(18, 0)

0.0

In [20]:
cone_volume(15, 6)

565.7142857142857

**Question 4          
This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are:                  
1, 3, 6, 10, 15                
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.                               
Write a function that gives the number of dots with its corresponding triangle number of the sequence.**        
> **Examples**       
triangle(1) ➞ 1           
triangle(6) ➞ 21              
triangle(215) ➞ 23220

In [21]:
# define the function 
def triangle(n):
    return (n * (n + 1)) // 2

In [22]:
triangle(215)

23220

**Question 5        
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.**         
> **Examples**       
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5             
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10              
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [23]:
def missing_num(lst):
    full_lst = list(range(1, 11))
    return sum(full_lst) - sum(lst)


missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7